# Dependencies
node_modules/
package-lock.json

# Environment variables & secrets
.env
.env.*
*.env
*.key
*.pem
*.cert
credentials.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Build & temporary files
dist/
build/
tmp/
scratch/
